body{
    background-color:#ffe8df;
  }
  h1{
    color: brown;
    font-size: 50px;
  }
  h3{
    color: brown;
    font-size: 30px;
  }
  hr{
    border-style: none;
    border-top-style : dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 10%
  }
